<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User File List</title>
</head>
<body style="text-align: center; padding-bottom: 30px">

<h2>欢迎：<span th:if="${session.user!=null}" th:text="${session.user.username}"></span></h2>

<h3>File List</h3>
<table style="border: 1px solid black">
    <tr>
        <td>ID</td>
        <td>File Origin Name</td>
        <td>File New Name</td>
        <td>File Suffix</td>
        <td>Save Path</td>
        <td>File Size</td>
        <td>File Type</td>
        <td>Is Image</td>
        <td>Download Count</td>
        <td>Upload Time</td>
        <td>Operation</td>
    </tr>
    <tr>
        <td>1</td>
        <td>aa.txt</td>
        <td>uuid.txt</td>
        <td>.txt</td>
        <td>/files</td>
        <td>1024</td>
        <td>tetx/plain</td>
        <td>否</td>
        <td>11</td>
        <td>2020-12-12</td>
        <td>
            <a href="#">下载</a>
            <a href="#">在线打开</a>
            <a href="#">删除</a>
        </td>
    </tr>
</table>
<hr>
<h3>Upload File</h3>
<form action="" method="post">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
</body>
</html>